.container {
  display: flex;
  flex-direction: row;
}

.FifthPage1__content {
  flex-direction: column;
  justify-content: center;
  width: 50vw;
}

.FifthPage1__imageContainer {
  width: 100%;
  height: 80vh;
}

.FifthPage1__image {
  overflow: hidden;
  object-fit: cover;
}

.FifthPage1__imageText {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background-color: #fff;
}

.test {
  text-align: center;
  color: black;
  font-size: 30px;
}

.test > button {
  cursor: pointer;
  border: none;
  width: 220px;
  margin: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
}

.FifthPage1__image {
  width: 100%;
  height: 100%;
}
