.container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

.FifthPage2__contentImage {
  flex-direction: column;
  justify-content: center;
  width: 45%;
}

.FifthPage2__imageContainer {
  width: 100%;
  height: 100vh;
}

.FifthPage2__image {
  overflow: hidden;
  object-fit: cover;
}

.FifthPage2__content {
  flex-direction: column;
  justify-content: center;
  width: 55vw;
}

.FifthPage2__contentText {
  margin: 100px auto;
  width: 70%;
}

.FifthPage2__contentText > h3 {
  margin-top: 25px;
}

.FifthPage2__contentText > div {
  display: flex;
  align-items: center;
}

.FifthPage2__contentText > div > img,
h3 {
  margin: 15px;
  display: flex;
  align-items: center;
}

.FifthPage2__icon {
  overflow: hidden;
  width: 50px;
  height: 50px;
}

.FifthPage2__image {
  width: 100%;
  height: 100%;
}

.FifthPage2__button {
  cursor: pointer;
  border: none;
  width: 150px;
  margin: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
}
