.button {
  background-color: rgba(46, 50, 51, 0.5);
  /* background-color: rgba(23, 26, 32, 0.8); */
  height: 48px;
  width: 256px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  opacity: 0.85;
}

.button > a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
}

.button__white {
  background-color: #fff;
  opacity: 0.65;
}

.button__white > a {
  color: #000;
}
