.item {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}

.item__container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__text {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  font-size: 34px;
  font-weight: 600;
  color: #fff;
  align-items: center;
  flex: 1;
}

.item_textDesc {
  background-color: rgba(99, 110, 114, 0.5);
  /* border: 5px solid rgba(255, 255, 255); */
  margin-top: 10px;
  padding: 15px;
  font-weight: 200;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.item_textDesc > p {
  color: #fefefe;
  font-weight: 800;
  font-size: 27px;
}

.item__lowerThird {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item__buttons {
  display: flex;
}

.item__expand {
  color: white;
  width: 100%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
