.flex {
  display: flex;
  /* justify-content: space-between; */
  height: 100vh;
  background-color: #303952;
}
.flex div {
  flex: 1;
}

.ThirdPage1__image1 {
  background-image: url("../../assets/img/thirdPage/Picture1.jpg");
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
.ThirdPage1__image2 {
  background-image: url("../../assets/img/thirdPage/Picture2.jpg");
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
.ThirdPage1__image3 {
  background-image: url("../../assets/img/thirdPage/Picture3.jpg");
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
.ThirdPage1__image4 {
  background-image: url("../../assets/img/thirdPage/Picture4.png");
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.ThirdPage1__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  align-content: flex-end;
  margin-top: 150%;
  height: 200px;
  bottom: 0;
}

.ThirdPage1__textContainer {
  width: 80%;
}

.ThirdPage1__text {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.ThirdPage1__content > div > button {
  cursor: pointer;
  border: none;
  margin-top: 30px;
  width: 260px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  background-color: rgba(200, 214, 229, 0.5);
}
