.container {
  display: grid;
  grid-template-columns: 7fr 5fr;
  height: 100vh;
  background-color: #303952;
}

.secondPage1__imageContent {
  display: grid;
  grid-template-columns: 400px 400px;
  background-color: #fff;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}

.secondPage1__imageBorder {
  display: block;
  overflow: hidden;
  width: 430px;
  height: 250px;
}

.secondPage1__image {
  overflow: hidden;
  width: 430px;
  object-fit: cover;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

.secondPage1__image:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  overflow: hidden;
}

.secondPage1__content {
  display: grid;
  grid-template-rows: 9fr 1fr 2fr;
}

.secondPage1__infoText {
  background-color: #f1f2f6;
  padding: 75px 75px;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}

.secondPage1__infoNote {
  text-align: center;
  align-self: center;
  font-size: 22px;
  color: #f1f2f6;
}

.secondPage1__infoBtn {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-self: center;
}

.secondPage1__infoBtn > div {
  width: 100%;
}

.secondPage1__infoBtn > div > button {
  background-color: #a4b0be;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 99%;
  height: 80px;
}
