.headerBlock {
  /* background: url("../assets/img/Picture1.jpg") no-repeat center center fixed; */
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* position: absolute; */
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  /* place-items: center; */
  scroll-snap-align: start;
}

.headerBlock__info {
  /* display: flex; */
  /* flex-direction: column; */
  margin-top: 250px;
  margin-left: 100px;

  height: 250px;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.25);
  border: 5px solid rgba(255, 255, 255);
}

.headerBlock__infoText {
  padding: 5px;
  /* text-align: center; */
  flex: 1;
}

.headerBlock__infoText > h2 {
  color: #fefefe;
  font-weight: 800;
  font-size: 47px;
}

.headerBlock__infoText > h4 > span {
  padding-bottom: 4px;
  padding-top: 15px;
  border-bottom: 1px solid black;
  color: #393c41;
  cursor: pointer;
}

.headerBlock__infoText > h4 > span:hover {
  border-bottom-width: 2px;
  color: black;
}

.headerBlock__actions {
  margin-left: 100px;

  margin-top: -180px;
  /* display: flex; */
  /* gap: 20px; */
}

.headerBlock__actions > button {
  cursor: pointer;
  border: none;
  width: 260px;
  padding-top: 12px;
  padding-bottom: 12px;
  /* border-radius: 8px; */
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
}

.headerBlock__buttonPrimary {
  /* background-color: #393c41; */
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  color: white;
  opacity: 0.9;
}

.headerBlock__buttonSecondary {
  background-color: white;
  color: black;
  opacity: 0.8;
}
